* {
    margin: 0;
    padding: 0;
}
nav{
    background-color: whitesmoke;
    height: 120px;
    border: 2px solid black;
    display: flex;
}
.logo{
    width: 250px;
    height: 90px;
    margin: 8px;
}
.logobox{
    width: 300px;
    margin: 10px 180px;
}
.center{
    display: flex;
    width: 750px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.center li{
    font-size: 25px;
    margin-top: 35px; 
}
.left{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 773px;
}
.buy{
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(242, 238, 238);
    margin-top: 30px;
    margin-left: 150px;
    border: 3px solid black;
}
.buy:hover{
    background-color: rgb(230, 228, 228);
}
.lang{
    font-size: 20px;
    border: none;
    margin-top: 30px;
}
.sch{
    border: none;
    font-size: 20px;
    margin-top: 30px;
}